*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
    overflow: hidden;
}

::-webkit-scrollbar{
    display: none;
}

canvas {
    background-color: black;
}
body{
    max-height: 100vh;
}