*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
    overflow: hidden;
}

::-webkit-scrollbar{
    display: none;
}

canvas {
    image-rendering: high-quality;
    background-image: url("img/bg.jpg");
    background-size: cover;
}
body{
    max-height: 100vh;
}

#stats{
    position: fixed;
    top: 3%;
    left: 3%;
    color: orangered;
}


#lives{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 3%;
    right: 10%;
}

#heart{
    height: 40px;
}

#play {
    position: fixed;
    left: 50%;
    top: 50%;
}

button{
    background-color: red;
    width: 200px;
    height: 70px;
    font-size: 30px;
    color: white;
}