*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: cursive, serif;
    overflow: hidden;
}

::-webkit-scrollbar{
    display: none;
}

canvas {
    image-rendering: high-quality;
    background-image: url("img/bg.jpg");
    background-size: cover;
}
body{
    max-height: 100vh;
}

#stats{
    position: fixed;
    top: 3%;
    left: 3%;
    color: orangered;
}


#lives{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 3%;
    right: 10%;
}

#heart{
    height: 40px;
}

#play {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 43%;
    top: 43%;
    animation:floatSpace 10s infinite linear;
    animation-direction:alternate;

}

button{

    border: 2px solid #004d59;
    background-color: #86bfbf;
    width: 200px;
    height: 70px;
    font-size: 30px;
    color: #012e33;
    font-family: cursive;
    transition: 0.2s;
    border-radius: 4px;
}

button:active {
    scale: 0.9;
}


@keyframes floatSpace {
    20% {
        transform: scale(1.05) translateX(-1%);
        rotate: 2deg;
    }
    40% {
        transform: scale(0.95) translateX(2%);
    }
    60% {
        transform: scale(1.05) translateX(-2%);
        rotate: -2deg;
    }
    80% {
        transform: scale(0.95) translateX(4%);
    }
    100% {

    }
}

#stats {
    animation:floatSpace 10s infinite linear;
    animation-direction:alternate;
    color: #012e33;
}